/*body*/
body {
    background: rgb(0, 10, 14)
}

/*navbar*/
.navbar-chat {
    padding: 20px;
    background-color: rgb(0, 0, 37);
}

.navbar a {
    color: white;
}

/*chat*/
.chat {
    background-color: rgb(0, 9, 37);
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    /* Para navegadores que suportam a propriedade scrollbar-width */
    scrollbar-color: rgb(0, 255, 234) transparent;
}

.chat::-webkit-scrollbar {
    width: 12px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: rgb(0, 255, 234);
    border-radius: 10px;
}

.chat::-webkit-scrollbar-track {
    background-color: transparent;
}



/*input*/

.campo_input {
    background-color: rgb(34, 65, 54);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
}

input.form-control {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 1px solid black;
}

input.form-control:focus {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 1px solid black;
}

input.form-control::placeholder {
    color: white;
}

button.btn-outline-success {
    color: rgb(0, 255, 166);
    border-color: rgb(0, 255, 166);
    background-color: #00130e;
}

button.btn-outline-success:hover {
    color: #00130e;
    border-color: #00130e;
    background-color: rgb(0, 255, 166);
}

/*mensagem*/
.mensagem {
    background-color: rgb(0, 119, 128);
    display: inline-block;
    padding: 10px;
    margin: 20px 0 0 20px;
    border-radius: 20px;
}

.mensagem p {
    color: white;
    margin-top: 10px;
}